__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.log
logs/
npm-debug.log*

.docker/
docker-compose.override.yml

venv/
ENV/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

app/simple_server.log

monitoring/elasticsearch/data/
monitoring/logstash/data/
monitoring/kibana/data/
